img {
    border-radius: 50%;
    float:left;
    margin-right: 10%;
    margin-top: -3%;
   
  }
html{
    background-color:#96B6C5;
}
.span{
    margin-top: 10%;
    margin-bottom:10%;
   
  
  }
  div{
    margin-left:18%;

  }
  .dip{
    margin-right: 30%;
  }
  hr {
    width: 9%;
    border-style: dotted none none;
    border-width: 7px;
    border-color:grey;
}
.tab{
  margin-right: 62%;
}






















































  

